<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a7315.jd.a7315">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ActivityHome"
            android:label="@string/titleHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ActivityLogin"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityRegister"
            android:label="@string/titleRegister" />
        <activity
            android:name=".Activities.ActivityAidSummary"
            android:parentActivityName=".Activities.ActivityHome" />
        <activity
            android:name=".Activities.ActivityCostsSummary"
            android:parentActivityName=".Activities.ActivityHome" />
        <activity
            android:name=".Activities.ActivityCalculate"
            android:parentActivityName=".Activities.ActivityHome"/>
    </application>

</manifest>